@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/jqueryui/jquery-ui.min.css";
@import "../node_modules/jqueryui/jquery-ui.theme.min.css";
// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

table {
    width: 100%;
}

div.ui-datepicker{
    font-size:10px;
}

input[type=text] {
    min-width: 95%;
}

textarea {
    width:100%;
    min-height: 100px;
}

table.calendar-table {
    width:100%;
    height:100%;
    table-layout: fixed;
}

.calendar-table td {
    text-align: center;
}

.calendar-table td table {
    width:100%;
    height:100%;
}

table.list td > button {
    width: 98%;
}

input[type=checkbox]
{
  transform: scale(2.25);
  padding: 10px;
}