page-calendar {

}

table.calendar-table {
    width:100%;
    height:100%;
    table-layout: fixed;
}

.calendar-table tr:first-of-type {
    width:100%;
    height:10%;
}

.calendar-table td {
    text-align: center;
}

.calendar-table td table {
    width:100%;
    height:100%;
}

td > button {
    width: 98%;
    height: 98%;
}